# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# cursor
.cursor/
.cursor/mcp.json
.cursor/rules/
.cursor/rules/01-global-tech-stack.mdc
.cursor/rules/02-frontend-ui-styling.mdc
.cursor/rules/03-backend-supabase.mdc
.cursor/rules/04-state-management.mdc